// TEXT
// general
$primary-color: #fff;
$secondary-color: #000;

// header
$actions-color: #989898;
$actions-icons-color: #009cff;

// footer
$footer-color: #4d4d4d;
$policy-color: #999;



// BACKGROUNDS
// header
$header-bg: #101010;
$header-hover-bg: #fff;

// main
$main-bg: #e8e8e8;

// footer
$footer-bg: #1e1e1e;


